<section class="featured-section">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12 text-center mt-5">

        <h2 class="text-white">Feature Posts</h2>
        <p class="text-white">LoIt has roots in a piece of classical Latin literature from 45 BC, ma</p>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>
      </div>

    </div>

  </div>

</section>

<section class="container mt-5">

  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>LoIt has roots in a piece of classical Latin literature from 45 BC, ma</p>
  </div>

  <div class="row">

    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>

  </div>

</section>
