<div class="container">

  <div class="row">

    <div class="col-md-9">
      <div class="card">
        <img src="https://images.pexels.com/photos/2002719/pexels-photo-2002719.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load" class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-sucess text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2">Views</small>
          <small class="bg-light text-warning text-center ml-2">Last Update 20 Set</small>

          <h1 class="mt-3">
            s a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
          </h1>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </p>

        </div>
      </div>

      <app-coment-form></app-coment-form>
      <app-coment-list></app-coment-list>

    </div>

    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>

  </div>

</div>
