<div class="card">

  <img class="card-img-top" src="https://images.pexels.com/photos/1462246/pexels-photo-1462246.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load" />
  <div class="card-body">

    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-sucess text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,256</small>

  </div>

  <div class="p-3">

    <h5 class="mt-1">"Nest qui dolorem ipsum quia dolor sit amet</h5>
    <p>Ctext. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>

  </div>


  <small class="bg-light text-warning text-center ml-3">Views - 100,256</small>

</div>
